// ::Imports pre-render. Must be after reset
// ------------------------------------------------------------
@import "libs/required";
@import "libs/reset";
@import "libs/settings";
@import "libs/mixins";
@import "libs/placeholders";

// Use SASS globbing to import all _.scss files in the module folder.
// These should be independent modules that follow the BEM/SMACSS way
@import "modules/*"; 



/* ::Base styles */
/* ------------------------------------------------------------ */

html {
	font-size: 100%;
	@include respond-to-max(768px, $IE9: false) { // Stop at precise width, as we're talking about devices
		-webkit-text-size-adjust: 100%;	// Stops text scaling in iOS.
	}
}



body, html { margin:0; padding:0; }
body { height:15000px;
	@extend .font-body;
	color: $base-color;
	overflow-x: hidden;

 }
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
	color: grey;
	text-decoration: none;
	font-weight: bold;
}

div.section-content-1{
width:45%;
margin: 0 auto;
}

div.section-image{
width:45%;
margin:0 auto;
}

div.section-content-2{
width:45%;
float: right;
}

div.intro-text-1{
	width:45%;
	margin-left:15%;
}

div.intro-text-2{
	width:45%;
	margin-left:30%;
}

div.intro-text-3{
	width:45%;
	margin-left:45%;
}

/* ::language switcher styles */
/* ------------------------------------------------------------ */


#french, #english {
	position: absolute;
	top: 0;
	left: 0;
	transition: left .75s;
	height: 100%;
	width: 100%;
}

#english {
	background-color: black;
	color: white;
}

.french #english {
	left: 100%;
	transition: left .75s;
}

.french #french {
	left: 0;
	transition: left .75s;
}

.english #english {
	left: 0%;
	transition: left .75s;
}

.english #french {
	left: -100%;
	transition: left .75s;
}

#language {
	z-index: 999;
	position: fixed;
	top: 20px;
	right: 20px;
}

#language ul {
	list-style-type: none;
}

#language ul li {
	display: inline-block;
}

/* ::scrollorama styles */
/* ------------------------------------------------------------ */
.scrollblock {
  width:100%;
}
.site-header-wrap {
  position:fixed; width:50%; margin-left: 25%; bottom: 20px; padding-top:10px;z-index:10;
}
.site-navigation {
  position:relative; z-index:999;
}
.site-navigation ul {
  list-style:none; text-align:center; margin:0 auto; padding:0;
}
.site-navigation ul li {
  display:inline;
}
.site-navigation ul li a {
  display:inline-block;
  overflow:hidden;
}

.section-content-1 {
	width: 75%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}
.section-content-2 {
	width: 75%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}
.section-content-3 {
	width: 75%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}
.ruler-wrap {
  position:absolute;
}
.pixelmarker {
  position:absolute;z-index:99;
  top:0;left:0;
  font-family:helvetica;
  font-size:0.5em;
}
.pixelmarker-left {
  height:1px;width:25px;
  border-top:solid 1px #000;
}
.pixelmarker-top {
  height:10px;width:1px;
  border-left:solid 1px #000;
}

/* ::Import styles */
/* ------------------------------------------------------------ */

@import "libs/typography"; 					// Base level typography
@import "libs/forms";						// Forms
@import "add-ons/module-typeset"; 			// Specific typesetting
@import "add-ons/grid"; 					// Grid system


/* ::Print */
/* ------------------------------------------------------------ */

@media print {
	body {
		@include adjust-leading-to(2);
		font-size: percentage(10 / 16);
	}
}

