h1.main{
	font-weight:bold;
	text-align:center;
	color: rgba(0,168,255,0.5);
	@include leader(4);
	@include adjust-font-size-to(70px);
	text-shadow: 3px 3px 0 rgba(255,0,180,0.3);
}

h1.main:hover{
	text-shadow: -3px -3px 0 rgba(255,0,180,0.3), 2px 2px 0 rgba(255,0,180,0.4), 4px 4px 0 rgba(255,0,180,0.4), -6px 6px 0 rgba(255,0,180,0.4), -8px -8px 0 rgba(255,0,180,0.4);
	
}