

div.left-side{
	display: inline-block;
}


.logo{
	width:80%;
	@include leader(10);
}
div.title-level{
	@include leader(2);
	h2.subtitle{
		text-align:left;
		/*@include leader(1);*/
		text-transform:lowercase;
	}
	h3.baseline{
		text-align:left;
		@include leader(1);
		@include trailer(2);
		text-transform:lowercase;
	}
	p.date, p.heures, p.adresse{
		text-align:center;
		@include leader(5);
		vertical-align:bottom;
	}

	
	/*p.heures{
		text-align:center;
	}*/
}

div.body-level{
	@include leader(4);
	img.side-img{
		width: 100%;
		height: auto;
		/*margin-left:15%;*/
	}
	p.body{
	@include trailer(4);
	}

}

div.footer-level{
	@include leader(8);
	@include trailer(12);
	p.partenaires-texte, p.partenaires, p.credits, p.mailinglist{
	text-align:center;
	}

	img{
	width:50px;
	}
}
